.task-status-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    color: white;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.task-status-title > span {
    font-size: 1.1rem;
}

.task-status-title > img {
    display: inline-block;
    width: 17px;
    filter: invert(1);
}
