.task-area-title {
    grid-column: 2 / span 3;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    font-family: "primary-font", "Courier New", Courier, monospace;
    font-weight: lighter;
}

.task-content {
    margin-left: var(--navbar-width);
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-auto-flow: dense;
    gap: var(--grid-gap);
}

.task-status-title {
    font-family: "primary-font", "Courier New", Courier, monospace;
}

.create-task-button {
    display: inline-block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 997;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    color: white;
    font-family: "secondary-font", "Courier New", Courier, monospace;
    font-weight: 400;
    transition: all 150ms linear;
}

.create-task-button:hover {
    transform: scale(1.1) !important;
    opacity: 0.8 !important;
}

.create-task-button:active {
    transform: scale(0.9) !important;
}
